<div class="container custom-container">
    <div class=" ">
        <div class="span8 offset1">
            <div class="right_sidebar">
                <div class="row1 ">
                    <div class="form">
                        <form id="register-form" action="/signup" method="post">
                            <fieldset>
                                <legend>Member Information</legend>
                                <div>
                                    <div class="form-label-container">
                                        <div class="label_class label_class">
                                            <label for="RegisterForm_full_name" class="required">Full Name <span class="required">*</span></label>&nbsp;
                                        </div>
                                    </div>  
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <input class="span4" size="35" title="Type your Full name" name="RegisterForm[full_name]" id="RegisterForm_full_name" type="text">
                                        </div>
                                    </div>                                          
                                </div>
                                <div>
                                    <div class="form-label-container">
                                        <div class="label_class label_class">
                                            <label for="RegisterForm_company_name">Company Name</label>&nbsp;
                                        </div>
                                    </div>  
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <input class="span4" size="35" title="Type your Company name" name="RegisterForm[company_name]" id="RegisterForm_company_name" type="text">
                                        </div>
                                    </div>                                          
                                </div>
                                <div>
                                    <div class="form-label-container">
                                        <div class="label_class label_class">
                                            <label for="RegisterForm_contact_no">Contact No</label>&nbsp;
                                        </div>
                                    </div>  
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <input class="span4" size="35" title="Type your Contact number" name="RegisterForm[contact_no]" id="RegisterForm_contact_no" type="text">
                                        </div>
                                    </div>                                          
                                </div>
                                <div>                                           
                                    <div class="form-label-container">
                                        <div class="label_class label_class" style=""> 
                                            <label for="RegisterForm_email" class="required">Email Address <span class="required">*</span></label>&nbsp;
                                        </div>
                                    </div>                                          
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <input class="span4" size="35" title="Type your Email" name="RegisterForm[email]" id="RegisterForm_email" type="text">
                                        </div>
                                    </div>                                      
                                </div>
                                <div>
                                    <div class="form-label-container">
                                        <div class="label_class label_class" style="">
                                            <label for="RegisterForm_password" class="required">Password <span class="required">*</span></label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <input class="span4" size="35" title="Type your Email" name="RegisterForm[password]" id="RegisterForm_password" type="password" maxlength="40">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-label-container">
                                        <div class="label_class label_class" style="">
                                            <label for="RegisterForm_repeat_password">Confirm Password</label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <input class="span4" size="35" title="Type your Email" name="RegisterForm[repeat_password]" id="RegisterForm_repeat_password" type="password" maxlength="40">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-label-container">
                                        <div class="label_class label_class" style="">
                                            <label for="RegisterForm_biz_loc_id">Business Location</label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <select class="span4 country" name="RegisterForm[biz_loc_id]" id="RegisterForm_biz_loc_id">
                                                <option value="1">Bangladesh</option>
                                                <option value="2">United States</option>
                                                <option value="3">Canada</option>
                                                <option value="4">Argentina</option>
                                                <option value="5">Belgium</option>
                                                <option value="9">Afghanistan</option>
                                                <option value="10">Albania</option>
                                                <option value="11">Andorra</option>
                                                <option value="12">Anguilla</option>
                                                <option value="13">Antigua/Barbuda</option>
                                                <option value="14">Armenia</option>
                                                <option value="15">Aruba</option>
                                                <option value="17">Australia</option>
                                                <option value="18">Austria</option>
                                                <option value="19">Bahamas</option>
                                                <option value="20">Bahrain</option>
                                                <option value="21">Barbados</option>
                                                <option value="22">Belarus</option>
                                                <option value="23">Belize</option>
                                                <option value="24">Bermuda</option>
                                                <option value="25">Bolivia</option>
                                                <option value="26">Bosnia-Herzegovina</option>
                                                <option value="27">Brazil</option>
                                                <option value="28">Bulgaria</option>
                                                <option value="29">Canary Islands</option>
                                                <option value="30">Cayman Islands</option>
                                                <option value="31">Channel Islands</option>
                                                <option value="32">Chile</option>
                                                <option value="33">China</option>
                                                <option value="34">Colombia</option>
                                                <option value="35">Costa Rica</option>
                                                <option value="36">Croatia</option>
                                                <option value="37">Cuba</option>
                                                <option value="38">Curacao</option>
                                                <option value="39">Cyprus</option>
                                                <option value="40">Czech Republic</option>
                                                <option value="41">Denmark</option>
                                                <option value="42">Dominica</option>
                                                <option value="43">Dominican Republic</option>
                                                <option value="44">Ecuador</option>
                                                <option value="45">Egypt</option>
                                                <option value="46">El Salvador</option>
                                                <option value="47">Estonia</option>
                                                <option value="48">Falkland Islands</option>
                                                <option value="49">Faroe Islands</option>
                                                <option value="50">Fiji</option>
                                                <option value="51">Finland</option>
                                                <option value="52">France</option>
                                                <option value="53">Georgia</option>
                                                <option value="54">Germany</option>
                                                <option value="55">Gibraltar</option>
                                                <option value="56">Greece</option>
                                                <option value="57">Greenland</option>
                                                <option value="58">Grenada</option>
                                                <option value="59">Guadeloupe</option>
                                                <option value="60">Guam</option>
                                                <option value="61">Guatemala</option>
                                                <option value="62">Guernsey</option>
                                                <option value="63">Guyana</option>
                                                <option value="64">Haiti</option>
                                                <option value="65">Honduras</option>
                                                <option value="66">Hong Kong</option>
                                                <option value="67">Hungary</option>
                                                <option value="68">Iceland</option>
                                                <option value="69">India</option>
                                                <option value="70">Indonesia</option>
                                                <option value="71">Iran</option>
                                                <option value="72">Iraq</option>
                                                <option value="73">Ireland</option>
                                                <option value="74">Isle of Man</option>
                                                <option value="75">Israel</option>
                                                <option value="76">Italy</option>
                                                <option value="77">Jamaica</option>
                                                <option value="78">Japan</option>
                                                <option value="79">Jersey</option>
                                                <option value="80">Jordan</option>
                                                <option value="81">Kazakhstan</option>
                                                <option value="82">Kiribati</option>
                                                <option value="83">Korea, South</option>
                                                <option value="84">Kuwait</option>
                                                <option value="85">Latvia</option>
                                                <option value="86">Lebanon</option>
                                                <option value="87">Liechtenstein</option>
                                                <option value="88">Lithuania</option>
                                                <option value="89">Luxembourg</option>
                                                <option value="90">Macao</option>
                                                <option value="91">Macedonia</option>
                                                <option value="92">Malaysia</option>
                                                <option value="93">Malta</option>
                                                <option value="94">Martinique</option>
                                                <option value="95">Mexico</option>
                                                <option value="96">Moldova</option>
                                                <option value="97">Monaco</option>
                                                <option value="98">Montserrat</option>
                                                <option value="99">Nauru</option>
                                                <option value="100">Nepal</option>
                                                <option value="101">Netherlands</option>
                                                <option value="102">New Zealand</option>
                                                <option value="103">Nicaragua</option>
                                                <option value="104">Norway</option>
                                                <option value="105">Oman</option>
                                                <option value="106">Pakistan</option>
                                                <option value="107">Panama</option>
                                                <option value="108">Papa New Guinea</option>
                                                <option value="109">Paraguay</option>
                                                <option value="110">Peru</option>
                                                <option value="111">Philippines</option>
                                                <option value="112">Poland</option>
                                                <option value="113">Portugal</option>
                                                <option value="114">Puerto Rico</option>
                                                <option value="115">Romania</option>
                                                <option value="116">Russia</option>
                                                <option value="117">Saint Croix</option>
                                                <option value="118">Saint Kitts/Nevis</option>
                                                <option value="119">Saint Lucia</option>
                                                <option value="120">Saint Pierre/Miquelon</option>
                                                <option value="122">San Marino</option>
                                                <option value="123">Saudi Arabia</option>
                                                <option value="124">Serbia-Montenegro</option>
                                                <option value="125">Singapore</option>
                                                <option value="126">Slovak Republic</option>
                                                <option value="127">Slovenia</option>
                                                <option value="128">Solomon Islands</option>
                                                <option value="129">South Africa</option>
                                                <option value="130">South Georgia</option>
                                                <option value="131">Suriname</option>
                                                <option value="132">Sweden</option>
                                                <option value="133">Switzerland</option>
                                                <option value="134">Taiwan</option>
                                                <option value="135">Thailand</option>
                                                <option value="136">Tonga</option>
                                                <option value="137">Trinidad/Tobago</option>
                                                <option value="138">Turkey</option>
                                                <option value="139">Turkmenistan</option>
                                                <option value="140">Tuvalu</option>
                                                <option value="141">Ukraine</option>
                                                <option value="142">United Arab Emirates</option>
                                                <option value="143">Uruguay</option>
                                                <option value="145">Uzbekistan</option>
                                                <option value="146">Vanuatu</option>
                                                <option value="147">Vatican City</option>
                                                <option value="148">Venezuela</option>
                                                <option value="149">Vietnam</option>
                                                <option value="150">Western Samoa</option>
                                                <option value="151">Yemen</option>
                                                <option value="152">Yugoslavia</option>
                                                <option value="153">American Samoa</option>
                                                <option value="154">Saint Vincent</option>
                                                <option value="156">Azerbaijan</option>
                                                <option value="157">Mongolia</option>
                                                <option value="158">Syria</option>
                                                <option value="159">England</option>
                                                <option value="160">Marshall Islands</option>
                                                <option value="161">Northern Ireland</option>
                                                <option value="162">Scotland</option>
                                                <option value="163">Spain</option>
                                                <option value="164">United Kingdom</option>
                                                <option value="165">US Virgin Islands</option>
                                                <option value="166">Wales</option>
                                                <option value="167">Canada</option>
                                                <option value="168">USA</option>
                                                <option value="169">Pago Pago</option>
                                                <option value="171">Saint John</option>
                                                <option value="172">Saint Thomas</option>
                                                <option value="173">Great Britain</option>
                                                <option value="174">Holland</option>
                                                <option value="175">South Korea</option>
                                                <option value="176">Tahiti</option>
                                                <option value="177">Wake Island</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">
                                    &nbsp;
                                </div>
                            </fieldset>
                            <div class="span6 center">
                                <div class="span2 pull-left" style="visibility:hidden">
                                    <div class="cancel">
                                        <a class="black" href="#">Cancel</a>
                                    </div>
                                </div>
                                <div class="span2 pull-left form_button"> 
                                    <input class="btn-theme-color white" type="submit" name="yt0" value="Register">                                         
                                </div>
                            </div>
                            <div class="span10" style="padding-left:255px;">
                                <label>Already member? signin on that <a href="/signin">page</a>.</label>
                            </div>
                        </form>
                    </div>
                </div><!-- end row-1-->
            </div>
        </div>
    </div>
</div>