<div class="container custom-container">
    <div class=" ">
        
        <div class="span8 offset1">
                
            <div class="right_sidebar">
                <div class="row1 ">
                    <div class='form'>
                        <form id="login-form" action="/signin" method="post">
                        <fieldset>
                            <legend>Login</legend>
                            <div>
                                <div class="form-label-container">
                                    <div class="label_class label_class">
                                        <label for="LoginForm_email" class="required">Email <span class="required">*</span></label>&nbsp;
                                    </div>
                                </div>	
                                <div class="form-field-container">
                                    <div class="form-field">
                                        <input class="span4" size="35" title="Your Email" name="email" id="LoginForm_email" type="text">
                                    </div>
                                </div>											
                            </div>
                            
                            
                            <div>
                                <div class="form-label-container">
                                    <div class="label_class label_class" style="">
                                        <label for="LoginForm_password" class="required">Password <span class="required">*</span></label>&nbsp;
                                    </div>
                                </div>
                                <div class="form-field-container">
                                    <div class="form-field">
                                        <input class="span4" size="35" title="Your Password" name="password" id="LoginForm_password" type="password">
                                    </div>
                                </div>
                            </div>
                            
                            <div>
                                <div class="form-label-container">
                                    <div class="label_class label_class" style="visibility:hidden;">
                                        invisible
                                    </div>
                                </div>
                                <div class="form-field-container">
                                    <div class="form-field">
                                        <p><a class="modified_hyperlink" href="/signup">Don't have an account? <b>Register</b>. </a></p>
                                        <p><a class="modified_hyperlink" href="/forgot-password">Forgot Password? </a></p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear">
                                &nbsp;
                            </div>
                        </fieldset>
                        
                        <div class="span6 center">
                            <div class="span2 pull-left" style="visibility:hidden">
                                <div class="cancel">
                                    <a class="black" href="#">Cancel</a>
                                </div>
                            </div>
                            <div class="span2 pull-left form_button">									<input type='hidden' name='_csrf' value='<%= _csrf %>'>	
                                <input class="btn-theme-color white" type="submit" name="yt0" value="Login">											
                            </div>
                        </div>
                        </form>
                    </div>
                </div><!-- end row-1-->
            </div>
        </div>
    </div>
</div>