<div class="footer">
    <div class="container custom-container">
        <div class="footer-top clearfix">
            <div class="span3">
                <div class="left-footer">
                    <h3 class="title-h3">About Us</h3>
                    <p>deshiyo.com is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, tempora obcaecati impedit numquam voluptatum voluptatem amet harum nulla eaque consequuntur? Read More
                    </p>
                </div>
            </div>
            <div class="span2">
                <div class="middle-footer">
                    <h3 class="title-h3">Information </h3>
                    <div class="footer-link">
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href= "#"> Specials</a></li>
                            <li><a href= "#"> Affiliates</a></li>
                            <li><a href="#"> Gift Vouchers</a> </li>
                            <li><a href= "#"> Brands</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="footer-contact">
                    <h3 class="title-h3">Contact Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, velit, vero omnis nostrum ea corporis repellat blanditiis illum laboriosam commodi! Vel veniam adipisci dignissimos voluptates!
                    Tel 29384798324334
                    Email: admin@localhost.com
                    </p>
                </div>
            </div>
            <div class="span3">
                <div class="footer-social">
                    <h3 class="title-h3">social connects</h3>
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href= "#"> <i class="icon-facebook-sign orenge "></i> Facebook</a></li>
                        <li><a href= ""><i class="icon-google-plus-sign orenge"></i> Google Plus</a></li>
                        <li><a href="#"><i class="icon-twitter-sign orenge"></i> Twitter</a> </li>
                        <li><a href= "#"><i class="icon-linkedin-sign orenge"></i> Linkedin</a></li>
                    </ul>		
                </div>	

            </div>
        </div><!-- end footer-top-->
        <div class="footer-bottom ">
            <div class="span9">
                <div id="bottomfooter">
                    <div class="navbar">
                        <div class="navbar-inner custom-navbar">
                            <ul class="nav">
                                <li><a href="#">Products </a></li>
                                <li><a href="#">Suppliers </a></li>
                                <li><a href="#"> Selling Offers </a></li>
                                <li><a href="#">Buying Leads </a></li>
                                <li><a href="#">Suppliers </a></li>
                                <li class="last_item"><a href="#"> Selling Offers </a></li>
                            </ul>
                        </div>
                    </div>   	 
                </div>
            </div>
            <div class="span3 offset4  ">
                <div class="powered">
                ©  2014  <a class="orenge" href="deshiyo.com">deshiyo.com</a> all right reserved 
                
            </div>
            </div>
        </div>
    </div>
</div>