<div class="header">
    <div class="container custom-container">
        <div class="top-header ">
            <div class="span3 logo">
                <a href="#">
                    <img src="images/logo1.png" alt="Deshiyo logo">
                </a>
            </div>
            <div class="span8 nav">
                <div class="navbar">
                    <div class="navbar-inner custom-navbar">
                        <ul class="nav">
                            <li><a href="/buy-offer">Buying Offer </a></li>
                            <li><a href="#"> Selling Offers </a></li>
                            <li class="last_item"><a href="#">Products </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="block-search">
                <form action="#" id="" target=" "  >
                    <div class="form-wrap">
                        <select>
                            <option selected> Products </option>
                            <option>Suppliers</option>
                            <option>Buyers</option>
                        </select>
                        <input id="searchQuery" type="text"  value="" />
                    </div>
                    <input type="submit" name="" id="" value="search" />
                        <!--<a class="advanced-search" href="#">Advanced Search</a>--> 
                </form>
            </div>
            <div class="btn-buyleads">
                <a class="leads"  href="/post-buy-offer" >Post Buy Leads</a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
