<div class="span3 margin10 span3-custom search-right-sidebar">
    <div class="box clearfix">
        <img class='ad_image' alt="Right-Banner" src="/images/advertisement/1402052565.jpg" title="Right-Banner">
    </div>
</div>