<div class="container custom-container">
    <div class=" ">
        <div class="span3 margin10 span3-custom">
            <!-- new- menu-style-->
            <div class="block block-list clearfix no-bg-hover">
                <div class="block-heading silver">
                    <div class="symbol">Categories</div>
                </div>
                <div class="block-body clearfix  ">
                    <ul id="sample-menu-3" class="sf-menu sf-vertical sf-arrows">
                        <li class="current">
                            <a href="#a" class="sf-with-ul drop-mnu">Agriculture</a>
                            <ul class=" drop-menu-item" style="display: none;">
                                <li>
                                    <a href="#aa">Rice</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Apples</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Olive Oil</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Herbal Cigars & Cigarettes</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul"><b>See all categories</b></a>
                                </li>
                            </ul>
                        </li>
                        <li >
                            <a href="#a" class="sf-with-ul drop-mnu">Apparel</a>
                            <ul class=" drop-menu-item" style="display: none;">
                                <li>
                                    <a href="#aa">Men's Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Women's Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Maternity Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">T-Shirts</a>
                                </li>
                                
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Underwear</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Dresses</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Wedding Dresses</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Sportswear</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul"><b>See all categories</b></a>
                                </li>
                            </ul>
                        </li>
                        <li >
                            <a href="#a" class="sf-with-ul drop-mnu">Apparel</a>
                            <ul class=" drop-menu-item" style="display: none;">
                                <li>
                                    <a href="#aa">Men's Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Women's Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Maternity Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">T-Shirts</a>
                                </li>
                                
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Underwear</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Dresses</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Wedding Dresses</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Sportswear</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul"><b>See all categories</b></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#a" class="sf-with-ul drop-mnu">Apparel</a>
                            <ul class=" drop-menu-item" style="display: none;">
                                <li>
                                    <a href="#aa">Men's Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Women's Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Maternity Clothing</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">T-Shirts</a>
                                </li>
                                
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Underwear</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Dresses</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Wedding Dresses</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul">Sportswear</a>
                                </li>
                                <li class=" ">
                                    <a href="#aa" class="sf-with-ul"><b>See all categories</b></a>
                                </li>
                            </ul>
                        </li>
                        <li >
                            <a href="#a" class="sf-with-ul"><b>See all categories</b></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end new menu style-->
                
            <!--- code-->
            <div class="box clearfix">
                <img style="margin-left:8px;" alt="Right-Banner" src="images/p4-150x170.jpg" title="Right-Banner">
            </div>
            
            <div class="block block-list clearfix">
                <div class="block-heading silver">
                    <div class="symbol">Industry News</div>
                </div>
                <div class="block-body">
                    <ul>
                        <li><a href="#"><i class="icon-share"></i>  Lorem ipsum dolor sit amet </a></li>
                        <li><a href="#"><i class="icon-share"></i>  Lorem ipsum dolor sit amet </a></li>
                        <li><a href="#"><i class="icon-share"></i>  Lorem ipsum dolor sit amet </a></li>
                        <li><a href="#"><i class="icon-share"></i>  Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#"><i class="icon-share"></i>  Lorem ipsum dolor sit amet</a></li>
                    </ul> <br />
                    <div class="more">
                        <a href="News"><i class="icon-chevron-sign-right"></i> More News</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6 margin10 content-main">
            <div class="flexslider">
                <ul class="slides">
                    <li class="flex-active-slide" style=
                    "width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">
                        <a href="#"> <img alt="Mainbanner1" src="images/mainbanner-1-530x291.jpg"></a>
                    </li>

                    <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
                        <img alt="Mainbanner2" src="images/mainbanner-3-530x291.jpg">
                    </li>

                    <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
                    <img alt="Mainbanner3" src= "images/mainbanner-2-530x291.jpg"></li>
                </ul>
            </div><!-- end flexslide-->
            <div class="content-main  ">
                <div class="row1">
                    <div class="product-items" >
                        <div class="product-block" >
                            <div class="product-block-inner">
                                <div class="image">
                                    <a href= "#"> <img alt="Arcu vitae imperdiet " src="images/p3-150x170.jpg"></a>
                                </div>
                                <div class="name">
                                    <a href=
                                    "#">
                                    Arcu vitae imperdiet</a>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="product-items" >
                        <div class="product-block" >
                            <div class="product-block-inner">
                                <div class="image">
                                    <a href= "#"> <img alt="Arcu vitae imperdiet " src="images/p3-150x170.jpg"></a>
                                </div>
                                <div class="name">
                                    <a href=
                                    "#">
                                    Arcu vitae imperdiet</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="product-items" >
                        <div class="product-block" >
                            <div class="product-block-inner">
                                <div class="image">
                                    <a href= "#"> <img alt="Arcu vitae imperdiet " src="images/p3-150x170.jpg"></a>
                                </div>
                                <div class="name">
                                    <a href=
                                    "#">
                                    Arcu vitae imperdiet</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="product-items" >
                        <div class="product-block" >
                            <div class="product-block-inner">
                                <div class="image">
                                    <a href= "#"> <img alt="Arcu vitae imperdiet " src="images/p3-150x170.jpg"></a>
                                </div>
                                <div class="name">
                                    <a href=
                                    "#">
                                    Arcu vitae imperdiet</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div><!-- end row-1-->
                <div class="clearfix"></div>
                <div class="row1">
                    <div class="product-items" >
                        <div class="product-block" >
                            <div class="product-block-inner">
                                <div class="image">
                                    <a href= "#"> <img alt="Arcu vitae imperdiet " src="images/p3-150x170.jpg"></a>
                                </div>
                                <div class="name">
                                    <a href=
                                    "#">
                                    Arcu vitae imperdiet</a>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="product-items" >
                        <div class="product-block" >
                            <div class="product-block-inner">
                                <div class="image">
                                    <a href= "#"> <img alt="Arcu vitae imperdiet " src="images/p3-150x170.jpg"></a>
                                </div>
                                <div class="name">
                                    <a href=
                                    "#">
                                    Arcu vitae imperdiet</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="product-items" >
                        <div class="product-block" >
                            <div class="product-block-inner">
                                <div class="image">
                                    <a href= "#"> <img alt="Arcu vitae imperdiet " src="images/p3-150x170.jpg"></a>
                                </div>
                                <div class="name">
                                    <a href=
                                    "#">
                                    Arcu vitae imperdiet</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="product-items" >
                        <div class="product-block" >
                            <div class="product-block-inner">
                                <div class="image">
                                    <a href= "#"> <img alt="Arcu vitae imperdiet " src="images/p3-150x170.jpg"></a>
                                </div>
                                <div class="name">
                                    <a href=
                                    "#">
                                    Arcu vitae imperdiet</a>
                                </div>
                                
                            </div>
                        </div>
                    </div> <br />
                    <div class="banner text-center" id="banner2">
                        <div style="display: block;">
                            <img alt="sub-banner" src="images/sub-banner-1-528x63.png" title="sub-banner">
                        </div>
                    </div>  <br />
                    <div class="clearfix"></div>
                    <div class="featured-slider">
                        <div class=" "> 
                            <h3>Featured Products<h4>
                            <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    
                                    <div class="item active">
                                        <div class="row-fluid">
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                        </div><!--/row-fluid-->
                                    </div><!--/item-->
                                    
                                    <div class="item">
                                        <div class="row-fluid">
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                        </div><!--/row-fluid-->
                                    </div><!--/item-->
                                    
                                    <div class="item">
                                        <div class="row-fluid">
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                            <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                                        </div><!--/row-fluid-->
                                    </div><!--/item-->
                                    
                                </div><!--/carousel-inner-->
                                
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                            </div><!--/myCarousel-->
                            
                        </div><!--/well--> 
                    </div>
                    
                </div><!-- end row2-->
            </div>
        </div>
        <div class="span3 margin10 right-sidebar span3-custom">
            <div class="box clearfix">
                
                <div class="sign-up">
                    <div class="form">
                        <label for="email"> Email Address</label> 
                        <input class="input-text" type="email" name="email" id="email-id"> 
                        <br>  
                        <label for="email"> Your Password</label> 
                        <input class="input-text" type="password" name="email" id="email-id">
                            <br> 
                        <input type="submit" value="Login" class="btn-theme-color marginleft10">
                    </div><br />
                    <p class="">Not Yet Register ?&nbsp;&nbsp;&nbsp;<a href="/signup" class=""> Register </a></p>
                </div>
            </div>
            <div class="block block-list clearfix">
                
                <div class="block-heading silver">
                    <div class="symbol">Latest Buying Leads</div>
                </div>
                <div class="block-body">
                    <div id="myCarousel1" class="carousel slide vertical">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <div class="leads-item">
                                    <div class="left-desc">
                                        <h5 class="orenge">Title  leads one</h5>
                                        <p>Descripot latest buying lelads</p>
                                    </div><!-- end left-desc-->
                                    <div class="right-name">
                                        <h5 class="orenge">
                                            Sirsa, Haryana
                                        </h5>
                                    </div>
                                </div>
                                
                                <div class="leads-item">
                                    <div class="left-desc">
                                        <h5 class="orenge">Title Leads</h5>
                                        <p>Descripot latest buying lelads</p>
                                    </div><!-- end left-desc-->
                                    <div class="right-name">
                                        <h5 class="orenge">
                                            Sirsa, Haryana
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="leads-item">
                                    <div class="left-desc">
                                        <h5 class="orenge"> This is title</h5>
                                        <p>Descripot latest buying lelads</p>
                                    </div><!-- end left-desc-->
                                    <div class="right-name">
                                        <h5 class="orenge">
                                            Sirsa, Haryana
                                        </h5>
                                    </div>
                                </div> 
                                
                                <div class="leads-item">
                                    <div class="left-desc">
                                        <h5 class="orenge">Title Leads</h5>
                                        <p>Descripot latest buying lelads</p>
                                    </div><!-- end left-desc-->
                                    <div class="right-name">
                                        <h5 class="orenge">
                                            Sirsa, Haryana
                                        </h5>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="item">
                                <div class="leads-item">
                                    <div class="left-desc">
                                        <h5 class="orenge">Title Leads</h5>
                                        <p>Descripot latest buying lelads</p>
                                    </div><!-- end left-desc-->
                                    <div class="right-name">
                                        <h5 class="orenge">
                                            Sirsa, Haryana
                                        </h5>
                                    </div>
                                </div>
                                <div class="leads-item">
                                    <div class="left-desc">
                                        <h5 class="orenge">Title Leads</h5>
                                        <p>Descripot latest buying lelads</p>
                                    </div><!-- end left-desc-->
                                    <div class="right-name">
                                        <h5 class="orenge">
                                            Sirsa, Haryana
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <!-- Carousel nav -->
                            <a class="carousel-control left  " href="#myCarousel1" data-slide="prev">‹</a>
                        <a class="carousel-control right  " href="#myCarousel1" data-slide="next">›</a>
                            
                    </div>
                    
                </div>
            </div>
            
            <div class="block block-list clearfix">
                <div class="block-heading silver">
                    <div class="symbol">Usefull Links</div>
                </div>
                <div class="block-body">
                    <ul>
                        <li><a href="#"><i class="icon-chevron-right "></i>  Lorem ipsum dolor sit amet </a></li>
                        <li><a href="#"><i class="icon-chevron-right "></i>  Lorem ipsum dolor sit amet </a></li>
                        <li><a href="#"><i class="icon-chevron-right "></i>  Lorem ipsum dolor sit amet </a></li>
                        <li><a href="#"><i class="icon-chevron-right "></i>  Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#"><i class="icon-chevron-right "></i>  Lorem ipsum dolor sit amet</a></li>
                    </ul> <br />
                    <div class="more">
                        <a href="News"><i class="icon-chevron-sign-right"></i> More News</a>
                    </div>
                </div>
            </div>
            
            <div class="block block-list clearfix">
                <div class="block-heading silver">
                    <div class="symbol">Our Story </div>
                </div>
                <div class="block-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, velit, vero omnis nostrum ea corporis repellat blanditiis illum laboriosam commodi!
                    </p> 
                    <div class="more">
                        <a href="News"><i class="icon-chevron-sign-right"></i> More News</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- block('localScripts', '<script src="js/home.js"></script>') %>
